<ion-header translucent>
  <ion-toolbar>
    <ion-title>New {{isFolder?'Folder':'Item'}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>


</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Project</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Parent folder</ion-label>
        <ion-input [value]="parentFolderName" (ionChange)="onFolderChange($event.detail.value)" disabled="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Name *</ion-label>
        <ion-input [value]="fileName" (ionChange)="onNameChange($event.detail.value)"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="!isFolder">
    <ion-card-header>
      <ion-card-subtitle>Fill translations</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <app-trad-field *ngFor="let trad of tradGroup.tradList" [trad]="trad" [parent]="tradGroup"></app-trad-field>
      <ion-button (click)="presentLanguagesModal()" expand="block" fill="clear" shape="round" *ngIf="!isFolder">
        <ion-icon name="globe"></ion-icon> Add languages
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button (click)="cancel()" color="medium">
        <ion-icon slot="start" name="close"></ion-icon>
        Cancel
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="import()" slot="primary" color="success" [disabled]="fileName==''">
        <ion-icon slot="start" name="checkmark"></ion-icon>
        Create
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>