<ion-content>
  <ion-item>
    <ion-label position="floating">Path</ion-label>
    <ion-input [(ngModel)]="traduction.path" (ionChange)="onPathChange($event.detail.value)"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Value</ion-label>
    <ion-input [(ngModel)]="traduction.value" (ionChange)="onValueChange($event.detail.value)"></ion-input>
  </ion-item>
  <ion-item>
    <ion-select [(ngModel)]="traduction.language" (ionChange)="onLanguageChange($event)" value="en" placeholder="Language">
      <ion-select-option value="en">English</ion-select-option>
      <ion-select-option value="fr">French</ion-select-option>
      <ion-select-option value="de">German</ion-select-option>
      <ion-select-option value="es">Spanish</ion-select-option>
      <ion-select-option value="ja">Japanese</ion-select-option>
    </ion-select>
  </ion-item>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button (click)="cancel()" color="medium">
        <ion-icon slot="start" name="close"></ion-icon>
        Cancel
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="import()" slot="primary" color="success" [disabled]="traduction.path === '' || traduction.value === ''">
        <ion-icon slot="start" name="checkmark"></ion-icon>
        Import
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>