<ion-content>
  <ion-item>
    <ion-label position="floating">Folder</ion-label>
    <ion-input [value]="folderName" (ionChange)="onFolderChange($event.detail.value)" disabled="true"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">ID</ion-label>
    <ion-input [value]="fileName" (ionChange)="onNameChange($event.detail.value)"></ion-input>
  </ion-item>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button (click)="cancel()" color="medium">
        <ion-icon slot="start" name="close"></ion-icon>
        Cancel
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="import()" slot="primary" color="success" [disabled]="fileName==''">
        <ion-icon slot="start" name="checkmark"></ion-icon>
        Create
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>