ion-icon {
  margin-right: 5px;
}

ion-col {
  padding: 0;
}

ion-list {
  background: rgba(0,0,0,0);
}

ion-row {
  flex-wrap: nowrap;
}

ion-item {
  --background: rgba(0, 0, 0, 0);
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0);
  --border-color: rgba(0, 0, 0, 0);
}