<ion-header translucent>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>


</ion-header>

<ion-content fullscreen>
  <ion-item>
    <ion-label>test</ion-label>
    <ion-input></ion-input>
  </ion-item>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-segment (ionChange)="tabChanged($event.detail.value)" [value]="tab">
      <ion-segment-button value="import">Import</ion-segment-button>
      <ion-segment-button value="export">Export</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="reset()" color="primary">
        <ion-icon slot="start" name="refresh"></ion-icon>
        Reset
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button (click)="close()" color="medium">
        <ion-icon slot="start" name="close"></ion-icon>
        Close
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="save()" slot="primary" color="success">
        <ion-icon slot="start" name="checkmark"></ion-icon>
        Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>