<ion-header translucent>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>


</ion-header>

<ion-content fullscreen *ngIf="tab=='general'">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Main view</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>In a folder, extend all traductions of an item</ion-label>
        <ion-checkbox slot="end" [checked]="extendTrad" (ionChange)="extendTradChanged($event.detail.checked)">
        </ion-checkbox>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-content fullscreen *ngIf="tab=='import_export'">


  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>For import</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Fusion with actual project</ion-label>
        <ion-select [value]="importFusion" okText="Okay" cancelText="Dismiss"
          (ionChange)="importFusionChanged($event.detail.value)">
          <ion-select-option value="no">No, erase actual project</ion-select-option>
          <ion-select-option value="yes_actual">Yes, but take actual values in case of conflict</ion-select-option>
          <ion-select-option value="yes_new">Yes, take new values in case of conflict</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Auto validate filled translations</ion-label>
        <ion-checkbox slot="end" [checked]="autoValidate" (ionChange)="autoValidateChanged($event.detail.checked)">
        </ion-checkbox>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>For both</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Default file type</ion-label>
        <ion-select [value]="tabImportExport" okText="Okay" cancelText="Dismiss"
          (ionChange)="tabImportExportChanged($event.detail.value)">
          <ion-select-option value="json">Json</ion-select-option>
          <ion-select-option value="csv">Csv</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>In CSV, add folder name only for doublon</ion-label>
        <ion-checkbox slot="end" [checked]="folderNameOnlyForDoublon" (ionChange)="folderNameOnlyForDoublonChanged($event.detail.checked)">
        </ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Folder character separator in CSV</ion-label>
        <ion-input [value]="folderCharCsv" (ionChange)="folderCharCsvChanged($event.detail.value)"></ion-input>
      </ion-item>
      
    </ion-card-content>
  </ion-card>

</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-segment (ionChange)="tabChanged($event.detail.value)" [value]="tab">
      <ion-segment-button value="general">General</ion-segment-button>
      <ion-segment-button value="import_export">Import and export</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ion-toolbar>
    <!--<ion-buttons slot="start">
      <ion-button (click)="reset()" color="primary">
        <ion-icon slot="start" name="refresh"></ion-icon>
        Reset
      </ion-button>
    </ion-buttons>-->
    <ion-buttons slot="secondary">
      <ion-button (click)="close()" color="medium">
        <ion-icon slot="start" name="close"></ion-icon>
        Close
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="save();close();" slot="primary" color="success">
        <ion-icon slot="start" name="checkmark"></ion-icon>
        Save and close
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>