<ion-card>
  <ion-card-header>
    <ion-card-subtitle>
      <ion-item>

      
      <ion-textarea slot="start" [value]="folder.getName()" (ionChange)= "onNameUpdate($event.target.value)"></ion-textarea>
      <ion-button slot="end" expand="block" shape="round" (click)="select()" *ngIf="canExpand">
      Expand
    </ion-button>
    <ion-button slot="end" expand="block" shape="round" (click)="presentDeleteConfirm()" *ngIf="!canExpand" color="danger">
      Delete
    </ion-button>
  </ion-item></ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    
  </ion-card-content>
  
</ion-card>