<ion-card>
  <ion-card-header>
    <ion-card-subtitle>
      <ion-item>
        <ion-icon slot="start" name="document" [color]="tradGroup.isValidated()?'success':''"></ion-icon>
        <ion-icon slot="start" name="checkmark-circle" color="success" *ngIf="tradGroup.isValidated()"></ion-icon>
        <ion-textarea slot="start" [value]="tradGroup.getName()" (ionChange)= "onNameUpdate($event.target.value)" [color]="tradGroup.isValidated()?'success':''"></ion-textarea>
        <ion-button slot="end" expand="block" shape="round" (click)="presentDeleteConfirm()" color="danger">
          Delete
        </ion-button>
      </ion-item></ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <app-trad-field *ngFor="let trad of tradGroup.tradList" [trad]="trad"></app-trad-field>
  </ion-card-content>
  
</ion-card>