<ion-list>

  <ion-item button (click)="newItem()" *ngIf="isFolder()">
    <ion-icon slot="end" name="document"></ion-icon>
    <ion-label>New Item</ion-label>
  </ion-item>

  <ion-item button lines="none" (click)="newFolder()" *ngIf="isFolder()">
    <ion-icon slot="end" name="folder"></ion-icon>
    <ion-label>New Folder</ion-label>
  </ion-item>

  <ion-item button  (click)="presentDeleteConfirm()">
    <ion-icon slot="end" color="danger" name="trash"></ion-icon>
    <ion-label color="danger">Delete</ion-label>
  </ion-item>

</ion-list>