<ion-header translucent>
    <ion-toolbar>
      <ion-title>Modal Content</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="dismissModal()">Close</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen>
    <ion-title>
        test
    </ion-title>
    
  </ion-content>
  <ion-footer class="ion-no-border">
    <ion-toolbar>
        <ion-item>
            <ion-label>Primary language</ion-label>
            <ion-select value="none">
                <ion-select-option value="none">None</ion-select-option>
                <ion-select-option value="fr">Français-France</ion-select-option>
              
            </ion-select>
          </ion-item>
    </ion-toolbar>
  </ion-footer>
