<ion-header>
  <ion-toolbar color="tertiary">

    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
      <ion-icon src="assets/icon/favicon.svg" size="large" class="ion-margin"></ion-icon>
    </ion-buttons>

    <!-- <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons> -->

    <ion-buttons slot="start">
      <ion-button (click)="presentPopover($event,0)">
        <ion-icon size="large" slot="start" name="file-tray-full"></ion-icon>
        <ion-label>Project</ion-label>
      </ion-button>
      <ion-button slot="start" (click)="presentLanguagesModal(0)">
        <ion-icon size="large" slot="start" name="globe"></ion-icon> <ion-label>Languages</ion-label>
      </ion-button>

      <ion-button slot="start" (click)="translate()">
        <ion-icon size="large" slot="start" name="language"></ion-icon> <ion-label>Translate</ion-label>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="secondary" class="top-buttons">
      <ion-button (click)="export()">
        <ion-icon size="large" slot="start" name="download"></ion-icon> <ion-label>Export</ion-label>
      </ion-button>
      <ion-button (click)="upload()">
        <ion-icon size="large" slot="start" name="share"></ion-icon> <ion-label>Import</ion-label>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" class="top-buttons">
      <ion-button slot="end" (click)="presentSettingsModal()">
        <ion-icon size="large" slot="start" name="settings"></ion-icon> <ion-label>Settings</ion-label>
      </ion-button>
      <ion-button slot="end">
        <ion-icon size="large" slot="start" name="information-circle"></ion-icon> <ion-label>About</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>