<ion-header>
  <ion-toolbar color="tertiary">

  <ion-buttons slot="start">
    <ion-menu-toggle>
      <ion-button>
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-menu-toggle>
    <ion-icon name="chatbox" size="large"></ion-icon>
    <ion-title>IN18</ion-title>
  </ion-buttons>
    
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="start">
    <ion-button (click)="presentPopover($event,0)">
      <ion-icon name="file-tray-full" size="large"></ion-icon>Project
    </ion-button>

  </ion-buttons>
  </ion-toolbar>
</ion-header>