ion-progress-bar{
    --background:var(--ion-color-success);
    --buffer-background:var(--ion-color-primary);
    --progress-background:var(--ion-color-success);
}

ion-item{
    --background: rgba(0,0,0,0);
    box-shadow: none;
    background-color: rgba(0,0,0,0);

}



