.main-content {
  margin-top: 58px !important;
}

.no-background {
  background-color: rgba(0, 0, 0, 0);
  --background: rgba(0, 0, 0, 0);
}

.special {
  background-color: var(--ion-color-step-0);
  border-radius: 4px;
}

.breadcrumb {
  flex-wrap: nowrap;
  overflow-x: auto;
}

/* size */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0) !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--ion-border-color);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--ion-color-step-100);
}

.loading_bar{
  z-index: 10;
  position: absolute;
  margin-top: 6px;
}

.wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40em, 1fr));
}

ion-menu ion-content{
  --background: var(--ion-color-step-0);
}

ion-list{
  background: rgba(0, 0, 0, 0);
}

ion-item {
  --background: rgba(0, 0, 0, 0);
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0);
}