<ion-app>
  <app-top-menu></app-top-menu>
  <ion-split-pane when="sm" content-id="main-content" class="main-content">
    <ion-menu content-id="main-content">
      <ion-content>
        <ion-button (click)="addTraduction()">
          <ion-icon slot="start" name="add"></ion-icon>
          Ajouter une traduction
        </ion-button>
        <app-tree-view [tree]="tree"></app-tree-view>
      </ion-content>
    </ion-menu>

    <div class="ion-page" id="main-content">
      <ion-content class="ion-padding">
        <ion-list>
          <app-trads-group></app-trads-group>
          <app-trads-group></app-trads-group>
          <app-trads-group></app-trads-group>
        </ion-list>
      </ion-content>
    </div>
  </ion-split-pane>
</ion-app>