<ion-header translucent>
  <ion-toolbar>
    <ion-title>Languages</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-card>
    <ion-card-content>
      <ion-item *ngIf="global.languages.length == 0">No language</ion-item>
      <ion-item *ngFor="let language of global.languages; let index = index">
        <ion-input
          [value]="language"
          [id]="index"
          (ionChange)="onLanguageChange($event.detail.value, index)"
          (ionBlur)="applyLanguageChange()"
        ></ion-input>
        <ion-button
          slot="end"
          (click)="global.mainLanguage = language"
          shape="round"
          [color]="global.mainLanguage == language ? 'success' : 'light'"
        >
          Main
          </ion-button>
        <ion-button
          slot="end"
          (click)="presentDeleteConfirm(language)"
          shape="round"
          color="danger"
        >
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <!--<ion-item>
        <ion-label position="floating">This is a folder</ion-label>
        <ion-checkbox [value]="isFolder" (ionChange)="onIsFolderChange($event.detail.value)"></ion-checkbox>
      </ion-item>-->
      
</ion-content>
<ion-footer class="ion-no-border">
  <ion-card *ngIf="getCompletion().length>0">
    <ion-card-content>
      <ion-list>
        <ion-item button (click)="onNewLanguageChange(language);add();" *ngFor="let language of getCompletion(); let index = index">{{language}}</ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="floating">New Language</ion-label>
        <ion-input
          [value]="newLanguage"
          (keydown.enter)="add()"
          (ionChange)="onNewLanguageChange($event.detail.value)"
          autofocus="true"
        ></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="sizeXs">
      <ion-button
        (click)="add()"
        color="primary"
        [disabled]="newLanguage == ''"
      >
        <ion-icon name="add" size="large"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <!--<ion-toolbar>
        <ion-item>
            <ion-label>Primary language</ion-label>
            <ion-select value="none">
                <ion-select-option value="none">None</ion-select-option>
                <ion-select-option value="fr">Français-France</ion-select-option>
              
            </ion-select>
          </ion-item>
    </ion-toolbar>-->
</ion-footer>

