<ion-header translucent>
    <ion-toolbar>
      <ion-title>Modal Content</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="dismissModal()">Close</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen>
    <ion-content>
      <ion-item *ngFor="let language of global.languages">
        {{language}}
        <ion-button slot="end" (click)="delete()" shape="round" color="danger"><ion-icon name="trash"></ion-icon></ion-button>
      </ion-item>
      <ion-item>
        <ion-label position="floating">New Language</ion-label>
        <ion-input [value]="newLanguage" (ionChange)="onNewLanguageChange($event.detail.value)"></ion-input>
        <ion-button slot="end" (click)="add()" shape="round" color="primary"><ion-icon name="add"></ion-icon></ion-button>
      </ion-item>
      <!--<ion-item>
        <ion-label position="floating">This is a folder</ion-label>
        <ion-checkbox [value]="isFolder" (ionChange)="onIsFolderChange($event.detail.value)"></ion-checkbox>
      </ion-item>-->
    </ion-content>
    
  </ion-content>
  <ion-footer class="ion-no-border">
    <ion-toolbar>
        <ion-item>
            <ion-label>Primary language</ion-label>
            <ion-select value="none">
                <ion-select-option value="none">None</ion-select-option>
                <ion-select-option value="fr">Français-France</ion-select-option>
              
            </ion-select>
          </ion-item>
    </ion-toolbar>
  </ion-footer>
