<ion-row *ngIf="level>=0 && folder.hasFilter(global.filter)" (mouseover)="hovered=true" (mouseleave)="hovered=false">
  <ion-col [size]="level*2"></ion-col>
  <ion-col size="sizeXs" *ngIf="isFolder()">
    <ion-item button (click)="toggleCollapse()">
      
      <ion-icon [name]="chevronIcon()" [color]="getColor()"></ion-icon>
      
    </ion-item>
  </ion-col>
  <ion-col style="min-width: 0px;">
    <ion-item button (click)="click()" [class]="getBgColor()?'selected':''" [disabled]="global.isCut && global.copyItem===folder">
      
      <ion-icon slot="start" [name]="folderIcon()" [color]="getColor()"></ion-icon>
      <ion-label [color]="getColor()">
        {{folder.getName()}}
      </ion-label>
      <!-- <ion-icon slot="end" [name]="folder.isValidated()?'checkmark-circle':'checkmark-circle-outline'" [color]="getColor()"
        *ngIf="folder.isFilled() && !folder.isValidated() && !hovered"></ion-icon> -->
    </ion-item>
    
    
  </ion-col>
  <ion-col size="sizeXs" *ngIf="hovered">
    <ion-item button (click)="presentPopover($event,folder)" >
    
      <ion-icon name="ellipsis-vertical"  ></ion-icon>
      
    </ion-item>
  </ion-col>
</ion-row>
<!--<ion-row *ngIf="isExpanded() && level==-1">
  <ion-col [size]="(level+1)*2"></ion-col>
    <ion-col>
    <ion-button (click)="addTraduction()" expand="block" fill="clear" shape="round">
      <ion-icon slot="start" name="add"></ion-icon>
      Item
    </ion-button>
  </ion-col>
  <ion-col>
    <ion-button (click)="addTraduction(true)" expand="block" fill="clear" shape="round">
      <ion-icon slot="start" name="add"></ion-icon>
      Folder
    </ion-button>
  </ion-col>
</ion-row>-->
<div *ngIf="isExpanded()">
  <div *ngFor="let file of getItemList()">
    <app-folder-tree [folder]="file" [level]="level+1" [collapsed]="collapsed"></app-folder-tree>
  </div>
</div>
<div *ngIf="isExpanded()">
  <div *ngFor="let f of getFolderList()">
    <app-folder-tree [folder]="f" [level]="level+1"></app-folder-tree>
  </div>
</div>