<ion-row *ngIf="level>=0">
  <ion-col [size]="level" ></ion-col>
  <ion-col>
    <ion-item button (click)="toggleCollapse()">
      <ion-icon slot="start" [name]="chevronIcon()" [color]="getColor(true)"></ion-icon>
      <ion-icon slot="start" [name]="folderIcon()" [color]="getColor(true)"></ion-icon>
      <ion-label [color]="getColor(true)">
        <p>
          {{folder.getName()}}
        </p>
      </ion-label>
    </ion-item>
  </ion-col>
</ion-row>
<div *ngIf="isExpanded()">
  <ion-row *ngFor="let file of folder.tradGroupList">
    <ion-col [size]="level+1"></ion-col>
    <ion-col>
      <ion-item button (click)="select(file)">
        <ion-icon slot="start" name="document" [color]="getColor(false,file)"></ion-icon>
        <ion-label [color]="getColor(false,file)">
          <p>
            {{file.getName()}}
          </p>
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
</div>
<div *ngIf="isExpanded()">
  <div *ngFor="let f of folder.folderList">
    <app-folder-tree [folder]="f" [level]="level+1"></app-folder-tree>
  </div>
</div>