<ion-header translucent>
  <ion-toolbar>
    <ion-title>New project</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Project</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input [value]="global.structure.getName()" (ionChange)="structureNameChanged($event.detail.value)">
        </ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Languages</ion-card-subtitle>

    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <div *ngFor="let language of global.languages; let index=index">
          <ion-chip>{{language}}</ion-chip>
        </div>
      </ion-item>

      <ion-button (click)="presentLanguagesModal()" expand="block" fill="clear" shape="round">
        <ion-icon name="globe"></ion-icon> Add languages
      </ion-button>

    </ion-card-content>
  </ion-card>




</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button (click)="dismissModal()" color="medium">
        <ion-icon slot="start" name="close"></ion-icon>
        Close
      </ion-button>
    </ion-buttons>
    <!-- <ion-buttons slot="primary">
      <ion-button (click)="dismissModal()" color="success">
        Create
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-footer>