<ion-header translucent>
  <ion-toolbar>
    <ion-title>Translate your project</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Choose translator</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-select
        [value]="translator.translator"
        (ionChange)="translatorChanged($event.detail.value)"
      >
        <ion-select-option *ngFor="let t of translator.translators" [value]="t"
          >{{ t }}
        </ion-select-option>
      </ion-select>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Choose languages</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-button
        (click)="presentLanguagesModal()"
        expand="block"
        fill="clear"
        shape="round"
      >
        <ion-icon name="globe"></ion-icon> Add languages
      </ion-button>
      <ion-item *ngIf="global.languages.length > 0">
        <ion-label>From</ion-label>
        <ion-select
          [value]="translator.mainLanguage"
          (ionChange)="mainLanguageSelectedChanged($event.detail.value)"
        >
          <ion-select-option
            *ngFor="let language of global.languages"
            [value]="language"
            >{{ language }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="global.languages.length > 0">
        <ion-label>To</ion-label>
        <ion-select
          multiple="true"
          [value]="translator.languages"
          (ionChange)="languagesSelectedChanged($event.detail.value)"
        >
          <ion-select-option
            *ngFor="let language of languagesAvailable()"
            [value]="language"
            >{{ language }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Translate only</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>All unfilled</ion-label>
        <ion-checkbox
          slot="end"
          [checked]="translator.unfilled"
          (ionChange)="unfilledChanged($event.detail.checked)"
        >
        </ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label
          >All unverified (Be careful, this can erase your
          translation)</ion-label
        >
        <ion-checkbox
          slot="end"
          [checked]="translator.unverified"
          (ionChange)="unverifiedChanged($event.detail.checked)"
        ></ion-checkbox>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle
        >You will fill
        {{ translator.getTrad() }} translations.</ion-card-subtitle
      >
    </ion-card-header>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button (click)="dismissModal()" color="medium">
        <ion-icon slot="start" name="close"></ion-icon>
        Close
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button
        (click)="translate()"
        slot="primary"
        color="success"
        [disabled]="translator.getTrad() == 0"
      >
        <ion-icon slot="start" name="checkmark"></ion-icon>
        Translate
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
