<ion-header translucent>
  <ion-toolbar>
    <ion-title>Export</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>


</ion-header>

<ion-content fullscreen>

    <ion-card *ngIf = "previewExport.length==0">
      <ion-card-header>
        <ion-card-subtitle>No data to preview</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

  <ion-row *ngIf="type=='json' && previewExport.length>0">
    <ion-col>
      <ion-card *ngFor="let jsonFile of previewExport; ; index as i;">
        <ion-card-header>
          <ion-card-subtitle>{{global.languages[i]}}.json</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <div style="white-space:pre;">
            {{jsonFile}}
          </div>
          
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

<ion-card *ngIf="type=='csv' && previewExport.length>0">
  <ion-card-header>
    <ion-card-subtitle>{{global.structure.getName()}}.csv</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <div style='overflow-x:auto;'>
      <table>
        <tr *ngFor="let csvRow of previewExport;">
          <td *ngFor = "let csvCol of csvRow;">
              {{csvCol}}
          </td>
        </tr>
      </table>
    </div>
    
  </ion-card-content>
</ion-card>


</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-segment (ionChange)="typeChanged($event.detail.value)" [value]="tab">
      <ion-segment-button value="json">Json</ion-segment-button>
      <ion-segment-button value="csv">Csv</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="presentSettingsModal()" color="primary">
        <ion-icon slot="start" name="settings"></ion-icon>
        Settings
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button (click)="cancel()" color="medium">
        <ion-icon slot="start" name="close"></ion-icon>
        Cancel
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="export()" slot="primary" color="success">
        <ion-icon slot="start" name="checkmark"></ion-icon>
        Export
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>