<ion-list *ngIf="id==0">

  <ion-item button (click)="new()">

    New <ion-note slot="end">Ctrl+N</ion-note>
    <ion-icon name="add-circle" slot="end"></ion-icon>
  </ion-item>
  <!--<ion-item button (click)="close()">
   Close <ion-note slot="end">Ctrl+?</ion-note><ion-icon name="close-circle" slot="end"></ion-icon>
   </ion-item>-->

  <ion-item button lines="none" (click)="load()">

    Load <ion-note slot="end">Ctrl+O</ion-note>
    <!--<ion-icon name="folder-open" slot="end"></ion-icon>-->
  </ion-item>
  <ion-item button lines="none" (click)="save()">
    Save <ion-note slot="end">Ctrl+S</ion-note>
    <!--<ion-icon name="save" slot="end"></ion-icon>-->
  </ion-item>
  <ion-item button (click)="saveAs()">
    Save as <ion-note slot="end">Ctrl+shift+S</ion-note>
    <!--<ion-icon name="save" slot="end"></ion-icon>-->
  </ion-item>
  <!--
    <ion-item button lines="none" (click)="import.click()">
      Import <ion-note slot="end">Ctrl+Shift+I</ion-note><ion-icon name="share" slot="end"></ion-icon>
      </ion-item>
    <ion-item button (click)="testClick()">
      Export <ion-note slot="end">Ctrl+Shift+S</ion-note><ion-icon name="download" slot="end"></ion-icon>
    </ion-item>-->

  <ion-item button lines="none" (click)="quit()">
    Exit <ion-note slot="end">Ctrl+Q</ion-note>
  </ion-item>

</ion-list>